html, body {
  margin: 0;
  padding: 0;
  font: 16px Helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
  background: #ddd;
}

#main {
  background: #fff;
  position: relative;
  height: 100%;
  max-width: 420px;
  max-height: 700px;
}
